<%- include('header') %>

<h2>Admin:</h2>
<div>
  <ul>
    <li>
      <a href="admin/categorias/categorias">
        Gerenciar categorias
      </a>
    </li>
    <li>
      <a href="admin/vaga">
        Gerenciar vagas
      </a>
    </li>
  </ul>
</div>
<%- include('footer') %>
