<html>

<head>
  <title>Jobify</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/styles.css" rel="stylesheet" />
</head>

<body>
  <h1>
    <a href="/">
      <img src="/images/logo_menor.png" width="320" height="205" alt="Jobify - by Cleyton" />
    </a>
  </h1>
  <p>Somos a jobify - junte-se a nós</p>
