<%- include('header') %>
<h2>Fullstack develop (remoto)</h2>
<div>
  <h3>Equipe de engenharia</h3>
  <ul>
    <li>
      <a href="vaga">
        Fullstack develop (remoto)
      </a>
    </li>
  </ul>
</div>
<div>
  <h3>Equipe de marketing</h3>
  <ul>
    <li>
      Digital marketing (San Francisco)
    </li>
  </ul>
</div>
<%- include('footer') %>
