<%- include('../header') %>

<h2>
  Editar vaga |
  <a href="/admin/categorias/categorias">Categorias</a>
</h2>
<div>
  <form method="POST">
    <label> Titulo da vaga: </label>
    <input type="text" name='categorias' value="<%= cat.categoria%>">
    <br>
    <br>
    <button>Salvar vagas</button>


  </form>
</div>
<%- include('../footer') %>
